@mixin generate-tokens {
  @each $token, $value in $tokens {
    --clr-#{$token}: #{$value};
  }
}

$tokens: (
  // Text
  heading: var(--clr-neutral-100),
  heading-inverse: var(--clr-white),
  heading-decoration: var(--clr-neutral-900),
  body: var(--clr-neutral-300),
  body-inverse: var(--clr-white),
  nav-links: var(--clr-neutral-400),
  // Backgrounds
  surface: var(--clr-white),
  container: var(--clr-neutral-900),
  button-primary: var(--clr-neutral-100)
);
