@use "breakpoints" as bp;

@mixin generate-sizes($size-map) {
  @each $level, $value in $size-map {
    --fs-#{$level}: #{$value};
  }
}

@mixin generate-typography {
  @each $level, $family in $families {
    --ff-#{$level}: #{$family};
  }

  @each $weight in $weights {
    --fw-#{$weight}: #{$weight};
  }

  @include generate-sizes($mobile-sizes);

  @media (min-width: bp.$tablet) {
    @include generate-sizes($desktop-sizes);
  }
}

$families: (
  primary: "'League Spartan', sans-serif",
);

$weights: (500, 700);

$desktop-sizes: (
  400: "1.125rem",
  500: "2rem",
  600: "4.5rem",
  700: "6rem",
  900: "15.625rem",
);

$mobile-sizes: (
  400: "1.125rem",
  500: "2rem",
  600: "3rem",
  700: "3rem",
  900: "7.5rem",
);
