---
import "@styles/main.scss";
import BaseHead from "@components/BaseHead.astro";
import Nav from "@/components/shared/Nav.astro";
import Footer from "@/components/shared/Footer.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head style="color-scheme: light;">
    <BaseHead title={title} description={description} />
    <slot name="head" />
  </head>
  <body class="page-grid bg-surface">
    <header class="page-subgrid sticky top-0 z-50 bg-surface">
      <Nav />
    </header>
    <main class="page-subgrid">
      <slot />
    </main>
    <Footer />
    <div
      id="overlay"
      data-visible="false"
      class="fixed inset-0 z-0 bg-black/50 data-[visible='false']:hidden tablet:hidden"
    >
    </div>
  </body>
</html>
