---
import "@styles/main.scss";
import BaseHead from "@components/BaseHead.astro";
import Nav from "@/components/shared/Nav.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head style="color-scheme: light;">
    <BaseHead title={title} description={description} />
    <slot name="head" />
  </head>
  <body class="page-grid bg-surface">
    <header class="page-subgrid">
      <Nav />
    </header>
    <main class="page-subgrid">
      <slot />
    </main>
    <footer class="page-subgrid">
      <div class="col-[content]">
        <a href="">Link 1</a>
        <a href="">Link 1</a>
        <a href="">Link 1</a>
        <a href="">Link 1</a>
      </div>
    </footer>
  </body>
</html>
