---
import "@styles/main.scss";
import BaseHead from "@components/BaseHead.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <slot name="head" />
  </head>
  <body class="page-grid">
    <header class="page-subgrid">
      <nav class="col-[content] flex">
        <a href="#">Logo</a>
        <ul class="flex">
          <li><a href="">link 1</a></li>
          <li><a href="">link 1</a></li>
        </ul>
      </nav>
    </header>
    <main class="page-subgrid">
      <slot />
    </main>
    <footer class="page-subgrid">
      <div class="col-[content]">
        <a href="">Link 1</a>
        <a href="">Link 1</a>
        <a href="">Link 1</a>
        <a href="">Link 1</a>
      </div>
    </footer>
    <style></style>
  </body>
</html>
